<html>
    <head><title> 멀캠 해커톤 화이팅 </title></head>   <!-- head 바뀜 -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <!-- 위의 코드를 layout에서 쓰게 되면 다른 파일에서 반복 해서 쓸 필요가 없음 -->
        <!-- 화면 맨 위의 네비바 / 맨 아래 바는 어느 페이지를 가도 안사라짐 -->
    
        <!-- 똑같은 화면에 
        
    
    
    <!-- 이 파일을 만들면 check_file의 table이 사라짐. -->
    <!-- 이 사라진 내용을 어떻게 가져올 것인가?  [ 그림1 ]   --> 
    
        <body>    <%= yield %>             <!-- 보이게 해야되니까 =    -->                    
        </body>
</html>